@font-face{font-family: slant;src: url(SLANT.ttf);}
@font-face{font-family: fairview;src: url(Fairview_Regular.otf);}
#logo{position: absolute; left: 50px; top: 12px; font-family: fairview; font-size: 56px;color: white;text-shadow: 2px 2px 5px black;}
#header{display: inline-block;}
#navbar{
    position: absolute;
    left: 550px;
    top: 20px;
    border-radius: 5px 5px 5px 5px;
    -o-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    background-color: #4e4e4e;
    border: 2px solid white;
}
#navbar ul{
    list-style: none;
    margin: 7px;
    padding: 0;
}
#navbar ul li{
    display: inline;
}
.navitem a{
    transition: all .25s;
    -o-transition: all .25s;
    -ms-transition: all .25s;
    -moz-transition: all .25s;
    -webkit-transition: all .25s;
    font-family: fairview;
    color: white;
}
.navitem a:link{
    color: #FFF;
}
.navitem a:visited{
    color: #FFF;
}
.navitem a:active{
    color: #adadad;
}
#main{
    background-color: #000;
    position: absolute;
    top: 75px;
    left: 15px;
    right: 15px;
    border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    color: #FFF;
}
#main h1,p{
    font-family: fairview;
}
#main div{
    margin-top: 15px;
}
body{
    background: url(images/grey3.jpg);
}
a:link{
    color: #FFF;
}
form{
    font-family: fairview;
}